/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
body {
  margin: 0
}

h1 {
  text-align: center;
  font-size: 6rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
}

ul>* {
  color: rgb(15, 15, 17);
  text-decoration: none;
}

ul>*:hover {
  transform: scale(1.2);
}

.navigation {
  margin: 0;
  padding: 1rem;
  background-color: rgb(59, 192, 148);
  display: flex;
  justify-content: space-around;
}

.products {
  display: flex;
  background-color: rgb(139, 197, 178);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
}

.userId {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  font-size: 1rem;
  gap: 1rem;
  align-items: center;
}

.userId>* {
  padding: 0.3rem;
}

.userIdLink {
  text-decoration: none;
  border: 1px solid;
  background-color: rgb(74, 196, 155);
  color: black;
}

.userPostsLink {
  text-decoration: none;
  border: 1px solid;
  background-color: rgb(74, 196, 155);
  color: black;
  margin: 0 auto;
  display: flex;
  width: fit-content;
  padding: 0.5rem;
}

.userElec {
  display: block;
}

.link1 {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.elec {
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.elecList {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
}